# Telegram bot
BOT_TOKEN=8722932147:AAGj1hieqPm8y_Bz8O-ekDJLRkUrIZ7pMx4
ADMIN_ID=1210446923

# Supabase
SUPABASE_URL=https://fdvfpuwybbzvrecpezgr.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZkdmZwdXd5YmJ6dnJlY3BlemdyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ3ODE1OTksImV4cCI6MjA5MDM1NzU5OX0.Lg-fQK1P52lAs8fkooZY3EB8DsibmePtp-d4u1GVnjU
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZkdmZwdXd5YmJ6dnJlY3BlemdyIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDc4MTU5OSwiZXhwIjoyMDkwMzU3NTk5fQ.r68qsJmEAx5mfdfYvet5-DoxEmqEyppLsX39PePcOyE

# Web app (Vercel URL)
WEBAPP_URL=https://mangal-burger.vercel.app/

# Optional
PORT=3000

